<!-- Header -->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle="categorization-menu">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      {{label}}
    </ion-title>
  </ion-navbar>
</ion-header>

<!-- LHS menu -->
<ion-menu side="left" [content]="categoryContent" id="categorization-menu">
  <ion-content>
    <ion-list>
      <button ion-item *ngFor="let category of categories" (click)="renderCategory(category)">
        {{category.label}}
      </button>
    </ion-list>
  </ion-content>
</ion-menu>

<!-- Actual content -->
<ion-content>
  <ion-nav #categoryContent></ion-nav>
</ion-content>
